@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');


.navParent {
    border: solid 1px ;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;

    align-items: center;
    font-family: "Geist Mono", monospace;
    width: 10;
    padding: 0 20px ;
}

.navItem_name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav_name {
    font-optical-sizing: auto;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
 
}

.nav_title{
    font-size: 14px;
    font-weight: 200;
}




.nav_Item_menuitems {

    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 1rem;
}

